<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694093718985-talhdl4hcpa5052cj2j15qvkt9li8obm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694093718985-talhdl4hcpa5052cj2j15qvkt9li8obm</string>
	<key>API_KEY</key>
	<string>AIzaSyBdwauSQr7bstjVxMcazgEYnilTJfA-3Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>694093718985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covidapp</string>
	<key>PROJECT_ID</key>
	<string>covidapp-40e9c</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-40e9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694093718985:ios:d2ac8ff8d083ec69adf418</string>
</dict>
</plist>